@using MVCLabb1.Models
@model IEnumerable<Book>
<h1>Böcker som finns att låna</h1>

<div class="row">

@foreach (var item in Model)
{          
            <div class="col">
                <img src="@Url.Content(@item.BookPictureUrl)" width="200" height="200" />
                <p>Titel: @item.Title</p> 
                <p>ISBN: @item.BookISBN</p>
                @if(@item.AmountInStore > 0)
                {
                <p>Antal i lager: @item.AmountInStore</p>

                if(Context.GetRouteData().Values["Id"]!=null)
                {
                    <p><a asp-controller="Home" asp-action="BookBorrow" asp-route-Id="@Context.GetRouteData().Values["Id"]" asp-route-BookId="@item.Id" class="btn btn-primary">Borrow</a></p>
                }
                 }
                @if(@item.AmountInStore <=0)
                {
                    <p>Slut i lager</p>
                }
            </div>     
}
</div>
